<div class="container">
  <div class="tasks">
    <h1>My Tasks</h1>
    <% @tasks.each do |task| %>
      <%= link_to task_path(task), class: "links" do %>
      <div class="tasks-container">
        <p><%= task.title %></p>
      <% end %>
      <%= link_to "🗑", task_path(task), method: :delete, data: { confirm: "sure?" }, class: "links" %>
      </div>
    <% end %>
    <p><%= link_to "create task", new_task_path, class: "links" %></p>
  </div>
</div>
